.container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  align-items: center;
  padding: 0 16px;
}

.bet {
  display: flex;
  flex-direction: column;

  .top {
    display: flex;
    flex-wrap: wrap;
  }

  &__multiplicity, &__color {
    margin-right: 2rem;
  }

  &__input {
    mat-form-field {
      width: 100%;
    }
  }

  &__numbers {
    mat-button-toggle-group {
      flex-wrap: wrap;
    }
  }
}

@-webkit-keyframes "rotate" {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes flipin {
  0% {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
@keyframes flipin {
  0% {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
.number {
  &:nth-child(1) {
    -webkit-transform: rotateZ(9.72972973deg);
    transform: rotateZ(9.72972973deg);
  }
  &:nth-child(2) {
    -webkit-transform: rotateZ(19.45945946deg);
    transform: rotateZ(19.45945946deg);
  }
  &:nth-child(3) {
    -webkit-transform: rotateZ(29.18918919deg);
    transform: rotateZ(29.18918919deg);
  }
  &:nth-child(4) {
    -webkit-transform: rotateZ(38.91891892deg);
    transform: rotateZ(38.91891892deg);
  }
  &:nth-child(5) {
    -webkit-transform: rotateZ(48.64864865deg);
    transform: rotateZ(48.64864865deg);
  }
  &:nth-child(6) {
    -webkit-transform: rotateZ(58.37837838deg);
    transform: rotateZ(58.37837838deg);
  }
  &:nth-child(7) {
    -webkit-transform: rotateZ(68.10810811deg);
    transform: rotateZ(68.10810811deg);
  }
  &:nth-child(8) {
    -webkit-transform: rotateZ(77.83783784deg);
    transform: rotateZ(77.83783784deg);
  }
  &:nth-child(9) {
    -webkit-transform: rotateZ(87.56756757deg);
    transform: rotateZ(87.56756757deg);
  }
  &:nth-child(10) {
    -webkit-transform: rotateZ(97.2972973deg);
    transform: rotateZ(97.2972973deg);
  }
  &:nth-child(11) {
    -webkit-transform: rotateZ(107.02702703deg);
    transform: rotateZ(107.02702703deg);
  }
  &:nth-child(12) {
    -webkit-transform: rotateZ(116.75675676deg);
    transform: rotateZ(116.75675676deg);
  }
  &:nth-child(13) {
    -webkit-transform: rotateZ(126.48648649deg);
    transform: rotateZ(126.48648649deg);
  }
  &:nth-child(14) {
    -webkit-transform: rotateZ(136.21621622deg);
    transform: rotateZ(136.21621622deg);
  }
  &:nth-child(15) {
    -webkit-transform: rotateZ(145.94594595deg);
    transform: rotateZ(145.94594595deg);
  }
  &:nth-child(16) {
    -webkit-transform: rotateZ(155.67567568deg);
    transform: rotateZ(155.67567568deg);
  }
  &:nth-child(17) {
    -webkit-transform: rotateZ(165.40540541deg);
    transform: rotateZ(165.40540541deg);
  }
  &:nth-child(18) {
    -webkit-transform: rotateZ(175.13513514deg);
    transform: rotateZ(175.13513514deg);
  }
  &:nth-child(19) {
    -webkit-transform: rotateZ(184.86486486deg);
    transform: rotateZ(184.86486486deg);
  }
  &:nth-child(20) {
    -webkit-transform: rotateZ(194.59459459deg);
    transform: rotateZ(194.59459459deg);
  }
  &:nth-child(21) {
    -webkit-transform: rotateZ(204.32432432deg);
    transform: rotateZ(204.32432432deg);
  }
  &:nth-child(22) {
    -webkit-transform: rotateZ(214.05405405deg);
    transform: rotateZ(214.05405405deg);
  }
  &:nth-child(23) {
    -webkit-transform: rotateZ(223.78378378deg);
    transform: rotateZ(223.78378378deg);
  }
  &:nth-child(24) {
    -webkit-transform: rotateZ(233.51351351deg);
    transform: rotateZ(233.51351351deg);
  }
  &:nth-child(25) {
    -webkit-transform: rotateZ(243.24324324deg);
    transform: rotateZ(243.24324324deg);
  }
  &:nth-child(26) {
    -webkit-transform: rotateZ(252.97297297deg);
    transform: rotateZ(252.97297297deg);
  }
  &:nth-child(27) {
    -webkit-transform: rotateZ(262.7027027deg);
    transform: rotateZ(262.7027027deg);
  }
  &:nth-child(28) {
    -webkit-transform: rotateZ(272.43243243deg);
    transform: rotateZ(272.43243243deg);
  }
  &:nth-child(29) {
    -webkit-transform: rotateZ(282.16216216deg);
    transform: rotateZ(282.16216216deg);
  }
  &:nth-child(30) {
    -webkit-transform: rotateZ(291.89189189deg);
    transform: rotateZ(291.89189189deg);
  }
  &:nth-child(31) {
    -webkit-transform: rotateZ(301.62162162deg);
    transform: rotateZ(301.62162162deg);
  }
  &:nth-child(32) {
    -webkit-transform: rotateZ(311.35135135deg);
    transform: rotateZ(311.35135135deg);
  }
  &:nth-child(33) {
    -webkit-transform: rotateZ(321.08108108deg);
    transform: rotateZ(321.08108108deg);
  }
  &:nth-child(34) {
    -webkit-transform: rotateZ(330.81081081deg);
    transform: rotateZ(330.81081081deg);
  }
  &:nth-child(35) {
    -webkit-transform: rotateZ(340.54054054deg);
    transform: rotateZ(340.54054054deg);
  }
  &:nth-child(36) {
    -webkit-transform: rotateZ(350.27027027deg);
    transform: rotateZ(350.27027027deg);
  }
  width: 32px;
  height: 175px;
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 0;
  left: calc(50% - (32px/2));
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  background-color: transparent;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 175px solid black;
  box-sizing: border-box;
  &:nth-child(odd) {
    border-top-color: red;
  }
  &:nth-child(37) {
    border-top-color: green;
  }
}

.main {
  width: 374px;
  margin: 0 auto;
}

.plate {
  background-color: gray;
  width: 350px;
  height: 350px;
  margin: 12px;
  border-radius: 50%;
  position: relative;
  -webkit-animation: rotate 24s infinite linear;
  animation: rotate 24s infinite linear;
  &:after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    border: 6px solid gold;
    box-shadow: inset 0px 0px 0px 2px #b39700, 0px 0px 0px 2px #ffeb80;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.65);
    border: 1px solid silver;
    box-shadow: inset 0px 0px 0px 2px #808080;
    top: 12%;
    left: 12%;
    right: 12%;
    bottom: 12%;
    z-index: 1;
  }
}
.pit {
  color: #fff;
  padding-top: 12px;
  width: 32px;
  display: inline-block;
  font-size: 12px;
  -webkit-transform: scale(1, 1.8);
  transform: scale(1, 1.8);
  position: absolute;
  top: -175px;
  left: -16px;
}
.inner {
  display: block;
  height: 350px;
  width: 350px;
  position: relative;
  padding: 0;
  &:after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    z-index: 3;
    top: 24%;
    right: 24%;
    bottom: 24%;
    left: 24%;
    background-color: #4d4d4d;
    border: 3px solid #808080;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 24%;
    bottom: 21%;
    left: 24%;
    right: 22%;
    content: '';
    color: #fff;
    font-size: 60px;
    z-index: 5;
    border-radius: 0;
  }
}
.inner[data-spinto='1'] {
  &:before {
    -webkit-transform: rotateZ(-2609deg);
    transform: rotateZ(-2609deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='2'] {
  &:before {
    -webkit-transform: rotateZ(-2783deg);
    transform: rotateZ(-2783deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='3'] {
  &:before {
    -webkit-transform: rotateZ(-2859deg);
    transform: rotateZ(-2859deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='4'] {
  &:before {
    -webkit-transform: rotateZ(-2802deg);
    transform: rotateZ(-2802deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='5'] {
  &:before {
    -webkit-transform: rotateZ(-2649deg);
    transform: rotateZ(-2649deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='6'] {
  &:before {
    -webkit-transform: rotateZ(-2743deg);
    transform: rotateZ(-2743deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='7'] {
  &:before {
    -webkit-transform: rotateZ(-2535deg);
    transform: rotateZ(-2535deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='8'] {
  &:before {
    -webkit-transform: rotateZ(-2680deg);
    transform: rotateZ(-2680deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='9'] {
  &:before {
    -webkit-transform: rotateZ(-2573deg);
    transform: rotateZ(-2573deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='10'] {
  &:before {
    -webkit-transform: rotateZ(-2661deg);
    transform: rotateZ(-2661deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='11'] {
  &:before {
    -webkit-transform: rotateZ(-2702deg);
    transform: rotateZ(-2702deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='12'] {
  &:before {
    -webkit-transform: rotateZ(-2877deg);
    transform: rotateZ(-2877deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='13'] {
  &:before {
    -webkit-transform: rotateZ(-2723deg);
    transform: rotateZ(-2723deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='14'] {
  &:before {
    -webkit-transform: rotateZ(-2591deg);
    transform: rotateZ(-2591deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='15'] {
  &:before {
    -webkit-transform: rotateZ(-2820deg);
    transform: rotateZ(-2820deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='16'] {
  &:before {
    -webkit-transform: rotateZ(-2629deg);
    transform: rotateZ(-2629deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='17'] {
  &:before {
    -webkit-transform: rotateZ(-2743deg);
    transform: rotateZ(-2743deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='18'] {
  &:before {
    -webkit-transform: rotateZ(-2553deg);
    transform: rotateZ(-2553deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='19'] {
  &:before {
    -webkit-transform: rotateZ(-2810deg);
    transform: rotateZ(-2810deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='20'] {
  &:before {
    -webkit-transform: rotateZ(-2599deg);
    transform: rotateZ(-2599deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='21'] {
  &:before {
    -webkit-transform: rotateZ(-2791deg);
    transform: rotateZ(-2791deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='22'] {
  &:before {
    -webkit-transform: rotateZ(-2563deg);
    transform: rotateZ(-2563deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='23'] {
  &:before {
    -webkit-transform: rotateZ(-2669deg);
    transform: rotateZ(-2669deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='24'] {
  &:before {
    -webkit-transform: rotateZ(-2639deg);
    transform: rotateZ(-2639deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='25'] {
  &:before {
    -webkit-transform: rotateZ(-2771deg);
    transform: rotateZ(-2771deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='26'] {
  &:before {
    -webkit-transform: rotateZ(-2847deg);
    transform: rotateZ(-2847deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='27'] {
  &:before {
    -webkit-transform: rotateZ(-2731deg);
    transform: rotateZ(-2731deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='28'] {
  &:before {
    -webkit-transform: rotateZ(-2884deg);
    transform: rotateZ(-2884deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='29'] {
  &:before {
    -webkit-transform: rotateZ(-2542deg);
    transform: rotateZ(-2542deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='30'] {
  &:before {
    -webkit-transform: rotateZ(-2691deg);
    transform: rotateZ(-2691deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='31'] {
  &:before {
    -webkit-transform: rotateZ(-2580deg);
    transform: rotateZ(-2580deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='32'] {
  &:before {
    -webkit-transform: rotateZ(-2831deg);
    transform: rotateZ(-2831deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='33'] {
  &:before {
    -webkit-transform: rotateZ(-2619deg);
    transform: rotateZ(-2619deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='34'] {
  &:before {
    -webkit-transform: rotateZ(-2752deg);
    transform: rotateZ(-2752deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='35'] {
  &:before {
    -webkit-transform: rotateZ(-2506deg);
    transform: rotateZ(-2506deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='36'] {
  &:before {
    -webkit-transform: rotateZ(-2710deg);
    transform: rotateZ(-2710deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner[data-spinto='0'] {
  &:before {
    -webkit-transform: rotateZ(-2838deg);
    transform: rotateZ(-2838deg);
    -webkit-transition: -webkit-transform 9s ease-out;
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
  }
}
.inner.rest {
  &:before {
    -webkit-transition: top 0.5s ease-in, right 0.5s ease-in, bottom 0.5s ease-in, left 0.5s ease-in;
    transition: top 0.5s ease-in, right 0.5s ease-in, bottom 0.5s ease-in, left 0.5s ease-in;
    top: 25%;
    right: 25%;
    bottom: 24%;
    left: 25%;
  }
}
.btn {
  background: green;
  border: 1px solid #000000;
  border-top-color: #00b300;
  border-left-color: #00b300;
  padding: 0;
  margin: 0;
  display: inline-block;
  font-size: 15px;
  width: 175px;
  padding: 12px;
  margin: 12px;
  cursor: pointer;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
  .btn-label {
    padding: 12px;
    white-space: nowrap;
  }
}
.btn.btn-reset {
  background: darkgreen;
  border: 1px solid #000000;
  border-top-color: #009700;
  border-left-color: #009700;
}
.btn.disabled {
  opacity: 0.2;
  -webkit-transition: opacity 0.24s linear;
  transition: opacity 0.24s linear;
  cursor: not-allowed;
}
.data {
  display: block;
  position: absolute;
  top: 30%;
  right: 30%;
  bottom: 30%;
  left: 30%;
  border-radius: 50%;
  animation: rotate 24s reverse linear infinite;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  z-index: 100;
  .data-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: -webkit-transform 0.72s;
    transition: -webkit-transform 0.72s;
    transition: transform 0.72s;
    transition: transform 0.72s, -webkit-transform 0.72s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .mask {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    margin: auto;
    line-height: 1.4;
    padding-top: 36px;
  }
  .result {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    background-color: green;
    color: white;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-box-align: center;
    align-items: center;
    color: #fff;
  }
  .result-number {
    font-size: 72px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 12px;
  }
  .result-color {
    text-transform: uppercase;
    font-size: 21px;
    line-height: 1;
  }
}
.data.reveal {
  .data-inner {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
.previous-results {
  max-width: 350px;
  margin: 24px 12px;
}
.previous-list {
  -webkit-perspective: 2000;
  perspective: 2000;
}
.previous-result {
  display: -webkit-box;
  display: flex;
  margin: 1px;
  padding: 12px;
  color: #fff;
  &:first-child {
    -webkit-animation: flipin 0.48s ease-out;
    animation: flipin 0.48s ease-out;
  }
  .previous-number {
    -webkit-box-flex: 1;
    flex: 1;
  }
}
.color-green {
  background-color: green;
}
.color-black {
  background-color: black;
}
.color-red {
  background-color: red;
}
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
