.container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  align-items: center;
  padding: 0 16px;
}

.bet {
  display: flex;
  flex-direction: column;

  .top {
    display: flex;
    flex-wrap: wrap;
  }

  &__multiplicity, &__color {
    margin-right: 2rem;
  }

  &__input {
    mat-form-field {
      width: 100%;
    }
  }

}
