<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="container">
      <button mat-button [routerLink]="['/']">Roulette</button>
      <span>Счет {{money$ | async}}$ <button mat-icon-button (click)="addMoney()"><mat-icon>add</mat-icon></button></span>
      <button mat-button [routerLink]="['/', 'history']">История игр</button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>{{money$ | async}}$ <button mat-icon-button (click)="addMoney()"><mat-icon>add</mat-icon></button></span>
    <button mat-icon-button [routerLink]="['/', 'history']"><mat-icon>history</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>
<main>
  <router-outlet></router-outlet>
</main>
